

.chatbox {
	/*max-width: 500px;*/
	/*min-width: 390px;*/
	height: 435px;
	background: black;
	padding: 25px;
	/*margin: 20px auto;*/
	/*box-shadow: 0 3px #7B68EE;*/
}

.chatlogs {
	padding: 10px;
	width: 100%;
	height:  375px;	
	overflow-x: hidden;
	overflow-y: scroll; 
}

.chatlogs::-webkit-scrollbar {
	width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0,0,0,.1);

}

.chat {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 10px;
}

.chat .user-photo {
	width: 60px;
	height: 80px;
	background: black;
	border-radius: 20%;
	overflow: hidden;
}

.chat .user-photo img{
	width: 100%;
	
}

.chat .user-photo1 {
	width: 60px;
	height: 80px;
	background: black;
	border-radius: 20%;
	overflow: hidden;
}

.chat .user-photo1 img{
	width: 100%;
	
}

.chat .chat-message {
	width: 80%;
	padding: 15px;
	margin: 5px 10px 0;
	border-radius: 10px;
	color: white;
	font-size: 20px;
	
}

.friend .chat-message {
	background: black;
	color: #FFD700;	
}

.self .chat-message {
	background: black;
	order: -1;
	color: #0000FF;
}

.chat-form {
	margin-top: 30px;
	display: flex;
	align-items: flex-start;
}

.chat-form textarea {
	
	width: 75%;
	height: 46px;
	
	border-radius: 3px;
	resize: none;
	padding: 10px;
	font-size: 18px;
	color: #0000FF;
	background: black;
	border-color: #0000FF;
}

.chat-form textarea:focus {
	background: black;
	color: white;
}

.chat-form textarea::-webkit-scrollbar {
	width: 10px;
}

.chat-form textarea::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0,0,0,.1);
}

.chat-form button {
	margin: 0 10px;
	background: #0000FF;
	border-color: #0000FF;
}

.chat-form button:hover {
	background: #FF0000;
	color: black;
	box-shadow: 0 1px 0 #DC143C;
	border: none;
}

